@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>@ViewBag.title</h1>

<form method="post" action="/Events/Edit">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" value="@ViewBag.eventToEdit.Name" />
    </div>
    <div class="form-group">
        <label for="desc">Description</label>
        <input type="text" name="desc" value="@ViewBag.eventToEdit.Description" />
    </div>
    <input type="submit" value="Edit Event" />
    <input type="hidden" value="@ViewBag.eventToEdit.Id" name="eventId" />
</form>


