@model CodingEventsDemo.ViewModels.ContactDetailViewModel

<h1>Contact Page for @Model.Name</h1>

<div class="card" style="width: 20rem;">
    <img src="~/images/@Model.ProfilePicture" class="card-img-top" alt="Profile" />
    <div clss="card-body">
        <h5 class="card-title">@Model.Name</h5>
    </div>
         
</div>
